# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/node_modules
node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
frontend/.next

# production
frontend/build
frontend/out

# misc
.env
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

cloud-storage-creds.json
genmab_sample.sql
defog-llm-cloud-function.py
.env.dev.yaml
/out

# playwright test stuff
frontend/test-results/
frontend/playwright-report/
frontend/blob-report/
frontend/playwright/.cache/

# local db
*.db

# pycache
__pycache__/
*.pyc

# notebooks for experimentation
notebooks/

# cache
.cache/

# venv
.venv*/

# defog-metadata
defog_metadata.csv

# reports
oracle/reports