aiohttp
boto3
colorama
databricks-sql-connector
defog==0.65.19
fastapi
google-auth
google-cloud-bigquery
httpx
hypercorn
matplotlib
mysql-connector-python
numpy
pandas
pgvector
pika
psycopg2-binary
pyodbc
pyyaml
redis
redshift_connector
requests
resend
scipy
seaborn
slack_sdk
snowflake-connector-python
sqlalchemy
sqlparse
statsmodels
tabulate