aiohttp
boto3
colorama
defog==0.65.21
fastapi
google-auth
httpx
hypercorn
matplotlib==3.9.2
numpy
openai
pandas==2.2.3
pika
pyyaml
redis
requests
resend
scipy
seaborn==0.13.2
slack_sdk
sqlalchemy
sqlalchemy-utils
sqlglot
sqlparse
statsmodels
tabulate

# sync db connectors
databricks-sql-connector
google-cloud-bigquery
mysql-connector-python
psycopg2-binary
pyodbc
redshift_connector
snowflake-connector-python


# async db connectors
asyncpg
aiomysql
aiosqlite
aioodbc