boto3
colorama
defog==0.68.3
fastapi
google-auth
httpx
hypercorn
numpy
openai
openai-agents
openpyxl
pandas==2.2.3
pgvector==0.3.6
python-multipart
pymupdf
pyyaml
redis
requests
resend
scipy
slack_sdk
sqlalchemy[asyncio]
sqlalchemy-utils
sqlglot
sqlparse
statsmodels
uvloop

# sync db connectors
databricks-sql-connector
google-cloud-bigquery
mysql-connector-python
psycopg2-binary
pyodbc
redshift_connector
snowflake-connector-python


# async db connectors
asyncpg
aiomysql
aiosqlite
aioodbc

# celery
celery[redis]==5.4.0

# tests
pytest
pytest-asyncio

# llm providers
openai==1.66.0
anthropic==0.49.0
google-genai==1.5.0
