@use "sass:color";

$very-light-blue: #fafcff;
$very-light-orange: #fffcfa;
$very-light-green: #fbfef9;

$light-blue: #eff2fd;
$light-orange: #fff4ed;
$light-green: #eaf8e5;
$light-red: #fdeff0;

$medium-blue: #6381f7;
$medium-blue-opacity: color.scale(#6381f7, $alpha: -70%);

$medium-light-orange: #f7caae;

$medium-orange: #ffa565;
$medium-orange-opacity: color.scale(#f7a164, $alpha: -70%);

$medium-green: #96c880;
$medium-green-opacity: color.scale(#c1e1b3, $alpha: -70%);

$medium-red: #efa1a1;
$medium-red-opacity: color.scale(#efa1a1, $alpha: -70%);

$dark-blue: #2957ff;
$dark-orange: #ff8229;
$dark-green: #63b758;
$dark-red: #f04646;

$text-dark: #171717;
$text-medium: #4c4c4c;
$text-light: #a0a0a0;
$text-very-light: #d0d0d0;

$white: #ffffff;
$dark-gray: #4c4c4c;
$medium-gray: #949494;
$light-gray: #efefef;
$very-light-gray: #fafafa;

$text-blue: #6481f7;
$text-orange: #f3b289;
$text-green: #607158;
$text-red: #fca5a5;

$green: #96c880;
// $light-green: #a4bb99;
$red: #fc8e8e;
