@use "sass:color";
@import "./colors.scss";
@import "./base-styles.scss";

.editor-nav {
  font-size: 13px;
  display: flex;
  background-color: white;
  padding: 0em 0 0 1em;
  color: $text-medium;
  max-height: 2.8em;
  z-index: 3;
  margin-top: 10px;

  font-family: $sans-serif;

  &.sticky {
    position: sticky;
    top: 0;
  }

  a {
    color: $text-medium;
  }

  > div:not(.nav-spacer) {
    margin: 0 2px;
    padding: 0.5em 0.4em;
    cursor: pointer;
    user-select: none;
    &:hover {
      background-color: #d8d8d8;
    }
  }

  .nav-sidebar-btn-stick-right {
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid transparent;
    &:not(.closed) {
      background-color: $light-gray;
      color: $medium-gray;
    }
    &:hover {
      // border: 1px solid $medium-gray;
      background-color: $light-gray !important;
    }

    &.nav-analyses {
      &:not(.closed) {
        background-color: $light-orange;
        color: $medium-orange;
        border: 1px solid $medium-orange;
        &:hover {
          background-color: $light-orange !important;
        }
      }
    }

    .anticon {
      transition: rotate 0.4s ease-in-out;
    }

    &.closed {
      font-weight: normal;
      background-color: white;
      color: $text-light;
    }
  }

  // nav spacer should take up max space
  .nav-spacer {
    height: 100%;
    flex-grow: 2;
  }
}

$sidebar-width: 200px;
.doc-sidebars {
  position: sticky;
  display: inline-flex;
  top: 0;
  z-index: 2;
  font-size: 13px;

  max-height: 100%;
  background-color: $white;
  font-family: $sans-serif;

  .sidebar {
    text-align: center;
    overflow: scroll;
    display: inline-block;
    position: relative;
    width: 0px;
    height: 100%;
    transition: all 0.2s ease-in-out;

    .sidebar-content {
      position: absolute;
      padding: 10px;
      text-align: center;
    }

    &.open {
      width: $sidebar-width;
      border-left: 1px solid $light-gray;
    }
  }

  .analysis-list-sidebar {
    input {
      width: 90%;
    }
    .analysis-list-sidebar-item {
      position: relative;
      cursor: pointer;
      padding: 5px 10px;
      margin-bottom: 20px;
      width: $sidebar-width - 20px;
      border: 1px solid $medium-orange;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      color: white;
      align-items: center;
      background-color: $light-orange;
      color: $medium-orange;
      // font-weight: bold;
      font-size: 1.1em;

      &:hover {
        background-color: $medium-orange;
        color: white;
        box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.031);
        border: 1px solid $dark-orange;
        // border-left: 7px solid $medium-orange;
      }
    }
  }
}

.defog-analysis-root {
  margin: 10px 5px;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid $light-gray;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  min-height: 300px;
  .content {
    display: flex;
    flex-direction: row;
    .editor-container {
      flex-grow: 2;
    }
  }
}
