.agent-loader {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  h2 {
    margin-top: 1.2em;
  }
  h3 {
    font-size: 14px;
    margin-top: -20px;
  }
  svg {
    display: block;
    max-width: 70%;
    margin-inline: auto;
  }
  pre {
    white-space: pre-wrap;
    margin-top: 1.2em;
  }
}
