.clarify-container {
  .ant-slider,
  .ant-select,
  .ant-input {
    min-width: 300px;
    max-width: 500px;
  }

  ul {
    margin-block-start: 0;
    padding-inline-start: 0;

    li {
      list-style: none;
      margin-bottom: 2em;
      padding-right: 1em;
      > div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .writer-target {
          width: 400px;
          padding-right: 10px;
        }
      }
    }
  }
}
