@use "sass:color";
@import "./colors.scss";
@import "./base-styles.scss";

#editor-nav {
  font-size: 13px;
  display: flex;
  background-color: white;
  padding: 0em 0 0 1em;
  color: $text-medium;
  max-height: 2.8em;
  z-index: 3;

  font-family: $sans-serif;

  &.sticky {
    position: sticky;
    top: 0;
  }

  a {
    color: $text-medium;
  }

  > div:not(.nav-spacer) {
    margin: 0 2px;
    padding: 0.5em 0.4em;
    cursor: pointer;
    user-select: none;
    &:hover {
      background-color: #d8d8d8;
    }
  }

  #nav-new-doc,
  #nav-delete-doc {
    div {
      display: inline-block;
    }
    svg {
      position: relative;
      margin-left: 5px;
      width: 1em;
      height: 1em;
      path {
        stroke: $text-medium;
      }
    }
  }

  #nav-other-docs {
    display: flex;
    .ant-dropdown-trigger {
      color: $text-medium;
      user-select: none;
    }
  }

  .nav-sidebar-btn-stick-right {
    &:not(.closed) {
      background-color: $light-gray;
      color: $medium-gray;
    }
    &:hover {
      background-color: $light-gray !important;
    }

    &#nav-analyses {
      &:not(.closed) {
        background-color: $light-orange;
        color: $medium-orange;
        &:hover {
          background-color: $light-orange !important;
        }
      }
    }

    .anticon {
      transition: rotate 0.4s ease-in-out;
    }

    &.closed {
      font-weight: normal;
      background-color: white;
      color: $text-light;
    }
  }

  // nav spacer should take up max space
  .nav-spacer {
    height: 100%;
    flex-grow: 2;
  }
}

$sidebar-width: 170px;
.doc-sidebars {
  position: sticky;
  display: inline-flex;
  top: 0;
  z-index: 2;
  font-size: 13px;

  height: 100vh;
  background-color: $white;
  font-family: $sans-serif;

  .sidebar {
    overflow: scroll;
    display: inline-block;
    width: 0px;
    height: 100%;
    transition: all 0.2s ease-in-out;

    .sidebar-content {
      padding: 10px;
      text-align: center;
    }

    &.open {
      width: $sidebar-width;
      border-left: 1px solid $light-gray;
    }
    &#db-creds-sidebar.open {
      width: $sidebar-width * 2;
    }
  }

  #db-creds-sidebar {
    .ant-input-group-addon {
      font-size: 1em;
      background-color: $very-light-gray;
      color: $medium-gray;
    }

    .ant-input-group-wrapper,
    .ant-select {
      margin-bottom: 0.5em;
    }

    input {
      background-color: $white;
      font-size: 1em;
      color: $text-medium;
      &::placeholder {
        color: $text-very-light;
      }
    }

    .sidebar-content {
      text-align: left;
      min-width: $sidebar-width * 2;
    }

    .ant-btn {
      font-size: 1em;
      margin-top: 1em;
      &:disabled {
        color: $text-light;
      }
    }

    p.small {
      margin-bottom: 1em;
      color: $text-medium;
    }
  }

  #analysis-list-sidebar {
    .analysis-list-sidebar-item {
      position: relative;
      cursor: pointer;
      padding: 5px 10px;
      margin-bottom: 20px;
      width: 150px;
      border: 1px solid $medium-orange;
      border-radius: 4px;
      text-align: center;
      display: flex;
      justify-content: center;
      color: white;
      align-items: center;
      background-color: $light-orange;
      color: $medium-orange;
      // font-weight: bold;
      font-size: 1.1em;

      &:hover {
        background-color: $medium-orange;
        color: white;
        box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.031);
        border: 1px solid $dark-orange;
        // border-left: 7px solid $medium-orange;
      }
    }
  }
}

.content {
  display: flex;
  flex-direction: row;
  .editor-container {
    flex-grow: 2;
  }
}
