#analysis-version-viewer {
  .history-list {
    .current-active {
      border-left: 2px solid theme("colors.blue.500");
    }
    .linked-active {
      border-left: 2px solid theme("colors.blue.300");
    }
  }
}
