.writer-target {
  position: relative;
  &:not(.csv-table) {
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: -20px;
      width: 10px;
      height: 100%;
      background-color: #f5f5f5;
      opacity: 0;
    }

    &:hover {
      &:before {
        opacity: 1;
      }
    }

    &:focus {
      outline: none;
      &:before {
        background-color: #6c8bfc;
        opacity: 1;
      }
    }
  }
}